<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VagaCerta</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
      <header>
        <h1> <img src="/static/imgs/estacionamento.png" alt="logo">VagaCerta</h1>
      </header>
      <section class="dashboard">
        <h2>Local: Super Mercado B.A.BA</h2>
        <div id="cartoes"></div>
      </section>
        
      <script src="/static/script.js"></script>
      
    </body>
</html>